* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

html {
  font-size: 14px;
  font-family: sans-serif;
}

#app {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: auto;
}
